/* колір заголовків #212121 */
/* колір основного тексту  #757575 */
/* додатковий колір секцій та інтерактивних кнопок #F5F4FA */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* колір фону hero and footer #2F303A */
/* колір mail and tel in footer rgba(255, 255, 255, 0.6) */
/* колір WEB  в лого #000000 */

/* ROOT */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-section-button: #f5f4fa;
  --background-footer-section: #2f303a;
  --logo-black: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
}

/* BODY */
body {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* Cкидування точок в списках ul*/
.list {
  list-style: none;
}

/* HEADER SECTION*/

/* logo header*/
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: 'Raleway';
  color: var(--logo-black);
}
.logo-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: 'Raleway';
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-span:hover,
.logo-span:focus {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}

.site-nav .link-nav.current {
  color: var(--accent-color);
}
/* посилання mail tel */
.auth-nav .link-mail,
.auth-nav .link-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.auth-nav .link-mail:hover,
.auth-nav .link-mail:focus {
  color: var(--accent-color);
}

.auth-nav .link-tel:hover,
.auth-nav .link-tel:focus {
  color: var(--accent-color);
}

/* SECTION title*/

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

/* HERO SECTION*/
.hero {
  background-color: var(--background-footer-section);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* section benefits */
.section.benefit .benefit-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* section example */

/* section employees */
.employees .employees-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.employees .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* FOOTER SECTION*/
.footer {
  background-color: var(--background-footer-section);
}

/* logo footer */
.footer .logo {
  color: var(--primary-white-color);
}

.footer .logo-span {
  color: var(--accent-color);
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}

.footer .logo-span:hover,
.footer .logo-span:focus {
  color: var(--accent-color);
}

.list.address .link-address {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
}

.list.address .link-address:hover,
.list.address .link-address:focus {
  color: var(--accent-color);
}

.list.address .link-mail,
.list.address .link-tel {
  font-style: normal;
  text-decoration: none;
  color: var(--footer-mail-tel);
}

.list.address .link-mail:hover,
.list.address .link-mail:focus {
  color: var(--accent-color);
}

.list.address .link-tel:hover,
.list.address .link-tel:focus {
  color: var(--accent-color);
}
/* Стилі сторінки PORTFOLIO */

/* PROJECT */
.project {
  color: var(--title-text-color);
}

.btn-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--secondary-section-button);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.pointer .btn-secondary {
  cursor: pointer;
}

.list.work .title-work {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.list.work .work-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
